services:
  # Aplicação Node.js
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 3000
      SCRAPE_DELAY: 2000
    ports:
      - "${APP_PORT:-3001}:3000"
    volumes:
      - ./public:/app/public
      - ./logs:/app/logs
    command: node src/server.js
